<%- include('header') %>
<div class="container">
    <h3>
        가볼가 사용법
        <small class="text-muted">트위터 DM과 웹사이트를 통해 사용할 수 있습니다.</small>
    </h3>
    <h4>트위터 DM</h4>
    <ol>
    <li>가볼까 하는 장소가 적힌 트윗에서 &#39;쪽지로 보내기&#39;를 클릭하세요.<br>
    <img src='/img/guide/dm-1.PNG' alt='' referrerPolicy='no-referrer' /></li>
    <li><a href='https://twitter.com/GABOLGA_bot' target='_blank'>가볼가(@GABOLGA_bot)</a> 계정으로 전송하면 끝!<br>
    <img src='/img/guide/dm-2.PNG' alt='' referrerPolicy='no-referrer' /></li>

    </ol>
    <h4>웹사이트</h4>
    <ol>
    <li>가볼까 하는 장소가 적힌 트윗에서 &#39;트윗 링크 복사&#39;를 클릭하세요.<br>
    <img src='/img/guide/web-1.PNG' alt='' referrerPolicy='no-referrer' /></li>
    <li>가볼가 트윗 링크란에 붙여넣기 후 &#39;장소 찾기&#39;를 클릭해주세요.<br>
    <img src='/img/guide/web-2.PNG' alt='' referrerPolicy='no-referrer' /></li>
    <li>&#39;가볼가 하기&#39;를 클릭하면 끝!<br>
    <img src='/img/guide/web-3.PNG' alt='' referrerPolicy='no-referrer' /></li>

    </ol>
    <ul>
    <li><a href='/random'>&#39;랜덤 트윗&#39;</a>으로 가볼가에 등록된 장소들을 구경할 수 있습니다!</li>

    </ul>
</div>
<%- include('footer') %>
