body {color: #141414;}
.center {text-align: center;}
.center #twitter-widget-0 {margin: auto !important;}
.inline-block {display: inline-block;}
.gray {color: #6c757d;}
.text_ellipsis {text-overflow: ellipsis; white-space: nowrap; max-width: 100%;}
button {cursor: pointer;}

.container {padding-top: 20px; min-height: calc(100vh - 60px);}
.container h3 {margin-bottom: 30px; color: #0D0D0D;}
.container h4 {margin-top: 30px; color: #0D0D0D;}
.container p {font-size: 120%; line-height: 180%; margin-left: 20px;}
.container li {margin-top: 10px; line-height: 180%;}
.container img {max-width: calc(100% - 50px); height: auto;}

nav a svg {width: 32px; height: 32px; color: #999;}
nav a:hover svg {color: #007bff;}

/* index */
body.index {background-image: url(/img/background.jpg); background-size: cover;}
body.index h3 {font-weight: 700;}
#gabolga_rank {width: 400px; max-width: 100%; background-color: rgba(255, 255, 255, 0.7);}
#gabolga_rank caption {caption-side: top; text-align: center; font-weight: 600;}

/* 지도 */
body.include_map {width: 100%; height: 100vh;}
body.include_map main {height: calc(100% - 56px); position: relative;}
#map {width: 100%; height: 100%}

#map_pop {position: absolute; top: 10px; left: 10px; max-width: calc(100% - 100px); z-index: 1;}

#data > h3 {background-color: #000; color: #fff; text-align: center; padding: 5px 10px; word-break: keep-all; margin-bottom: 0; float: left; clear: both;}
#data > span, #data > a {font-size: 1.2rem; background-color: #eee; color: #000; padding: 5px; float: left; clear: both;}

#btn_gabolga {margin-top: 5px;}
#tweet_update_btn {position: absolute; bottom: 0; right: 0; border-radius: 5px; border: 1px solid #e1e8ed; border-top: 0; border-left: 0; border-top-right-radius: 0; border-bottom-left-radius: 0;}

#route_link {position: absolute; right: 0; width: 130px; margin: 0; padding: 0;}
#route_link a {padding-left: 10px; cursor: pointer;}
#route_link img {width: 50px; height: 50px;}

#now_pos {position: absolute; top: 10px; right: 10px; width: 50px; height: 50px; z-index: 1;}

#tweet_data {display: none; position: fixed; margin: auto; left: 0; right: 0; bottom: 20px; width: 500px; max-width: 100%; padding: 10px; background: rgba(255, 255, 255, 0.9); border-radius: 5px; border: 1px solid #e1e8ed; z-index: 2;}
#tweet_data h3 {width: calc(100% - 130px); line-height: 50px;}
#tweet_data span {width: calc(100% - 50px);}
#unreg_tweets_count {position: fixed; margin: auto; left: 0; right: 0; bottom: 20px; width: 350px; max-width: 100%; z-index: 2;}
#btn_show_in_map {position: fixed; margin: auto; left: 0; right: 0; bottom: 20px; width: 350px; max-width: 100%; z-index: 2;}

#list tr {cursor: pointer;}

/* 트윗 */
.tweet {position: absolute; top: auto; bottom: 115px; left: 10px; right: auto; z-index: 1; max-width: 550px; width: calc(100% - 20px); max-height: calc(100vh - 180px); text-align: left; padding: 10px; cursor: pointer;}
.tweet article {max-height: calc(100vh - 190px); overflow-y: auto;}

.bottom_btn {position: absolute; padding: 10px; bottom: 55px; border-radius: 50%; z-index: 1; display: none;}
.bottom_btn svg {width: 32px; height: 32px; color: #999;}
.bottom_btn.active svg, .bottom_btn:hover svg {color: #007bff;}
#tweet_switch {left: 10px;}
#gabolga_btn {right: 70px;}
#gabolga_btn:not(.on) .bi-heart-fill {display: none;}
#gabolga_btn.on .bi-heart {display: none;}
#more_btn {right: 10px;}

#tweet_switch .spinner-border, #gabolga_btn .spinner-border {display: none;}
#tweet_switch.loading .bi, #gabolga_btn.loading .bi {display: none;}
#tweet_switch.loading .spinner-border, #gabolga_btn.loading .spinner-border {display: block;}

#more_popup {position: absolute; left: auto; right: 10px; top: auto; bottom: 110px; z-index: 2; max-height: calc(100vh - 180px);}
#more_popup main {max-height: calc(100vh - 190px); overflow-y: auto;}
#more_popup .arrow {right: 15px;}
#more_popup a {display: block; padding: 10px;}
#more_popup a:hover {background-color: #e2e6ea; cursor: pointer;}

/* 장소 등록 */
#placesList {padding-left: 0;}
#placesList li {list-style: none;}

#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(//t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
/*#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}*/

#placesList .item .markerbg {float:left;position:absolute;width:24px; height:37px;margin:10px 0 0 10px;background:url(/img/sp_pins_spot_v3.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0px 0px;}
#placesList .item .marker_2 {background-position: -29px 0px;}
#placesList .item .marker_3 {background-position: -58px 0px}
#placesList .item .marker_4 {background-position: -87px 0px;}
#placesList .item .marker_5 {background-position: -116px 0px;}
#placesList .item .marker_6 {background-position: -145px 0px;}
#placesList .item .marker_7 {background-position: -174px 0px;}
#placesList .item .marker_8 {background-position: -203px 0px;}
#placesList .item .marker_9 {background-position: -232px 0px;}
#placesList .item .marker_10 {background-position: -261px 0px;}

body.include_map #mobile_margin {display: none;}

footer a {flex-grow: 1; text-align: center;}
footer a svg {width: 32px; height: 32px; color: #999;}
footer a.active svg, footer a:hover svg {color: #007bff;}

@media screen and (min-width: 1000px) {
    .mobile {display: none !important;}

    #navbarNav {display: flex; flex-basis: auto; flex-grow: 1;}
    #navbarNav .navbar-nav {flex-direction: row;}
    #navbarNav .navbar-nav .nav-link {padding-right: .5rem; padding-left: .5rem;}

    .tweet {bottom: 75px;}
    .bottom_btn {
        bottom: 20px;
    }    
    #gabolga_btn {
        left: 70px;
        right: unset;
    }    
    #more_btn {
        left: 130px;
        right: unset;
    }
    #more_popup {left: 128px; right: auto; bottom: 75px;}
    #more_popup .arrow {left: 15px;}
}
@media screen and (max-width: 999px) {
    .pc {display: none !important;}
}
.popover-header { display: none; }