.center {text-align: center;}
.inline-block {display: inline-block;}
button {cursor: pointer;}
.include_map {width: 100%; height: calc(100vh - 56px); position: fixed; overflow-y: hidden;}

#gabolga_rank {width: 400px; max-width: 100%;}
#gabolga_rank caption {caption-side: top; text-align: center;}
#map {width: 100%; height: 100%}
#map_pop {position: relative; z-index: 2; margin-left: 5px; width: 500px; max-width: 50%; min-width: 350px;}
#map_pop div {margin-top: 10px; margin-bottom: 10px;}
#twitter-widget-0 {margin: 0 !important;}
#tweet {opacity: 0.9;}
#tweet p {opacity: 1;}
#data {width: 100%; overflow: auto; background-color: rgba(255, 255, 255, 0.85); border-radius: 5px; border: 1px solid #e1e8ed;}
#gabolga {float: left; width: 100%; padding: 0px 10px 0px 10px; }
#gabolga h3 {width: calc(100% - 130px); line-height: 50px; word-break: keep-all;}
#gabolga span {width: calc(100% - 50px);}
#btn_gabolga {margin-top: 5px;}
#tweet_update_btn {position: absolute; bottom: 0; right: 0; border-radius: 5px; border: 1px solid #e1e8ed; border-top: 0; border-left: 0; border-top-right-radius: 0; border-bottom-left-radius: 0;}
#tweet_switch {position: absolute; z-index: 3; line-height: 30px;}
#route_link {position: absolute; right: 0; width: 130px; margin: 0; padding: 0;}
#route_link a {padding-left: 10px; cursor: pointer;}
#route_link img {width: 50px; height: 50px;}
#now_pos {position: absolute; top: 10px; left: 10px; width: 50px; height: 50px; z-index: 2;}
#tweet_data {display: none; position: fixed; margin: auto; left: 0; right: 0; bottom: 20px; width: 500px; max-width: 100%; padding: 10px; background: rgba(255, 255, 255, 0.9); border-radius: 5px; border: 1px solid #e1e8ed; z-index: 2;}
#tweet_data h3 {width: calc(100% - 130px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 50px;}
#tweet_data span {width: calc(100% - 50px); overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#unreg_tweets_count {position: fixed; margin: auto; left: 0; right: 0; bottom: 20px; width: 350px; max-width: 100%; z-index: 2;}
#btn_show_in_map {position: fixed; margin: auto; left: 0; right: 0; bottom: 20px; width: 350px; max-width: 100%; z-index: 2;}
#list tr {cursor: pointer;}
.card img {min-width: 270px; width: 100%; height: auto;}
@media screen and (max-width: 800px) {
    .mobile {display: none;}
}
.container {padding-top: 20px; min-height: calc(100vh - 60px);}
.container h3 {margin-bottom: 20px;}
.container img {max-width: calc(100% - 50px); height: auto;}

#placesList {padding-left: 0;}
#placesList li {list-style: none;}

#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(//t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
/*#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}*/

#placesList .item .markerbg {float:left;position:absolute;width:24px; height:37px;margin:10px 0 0 10px;background:url(/img/sp_pins_spot_v3.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0px 0px;}
#placesList .item .marker_2 {background-position: -29px 0px;}
#placesList .item .marker_3 {background-position: -58px 0px}
#placesList .item .marker_4 {background-position: -87px 0px;}
#placesList .item .marker_5 {background-position: -116px 0px;}
#placesList .item .marker_6 {background-position: -145px 0px;}
#placesList .item .marker_7 {background-position: -174px 0px;}
#placesList .item .marker_8 {background-position: -203px 0px;}
#placesList .item .marker_9 {background-position: -232px 0px;}
#placesList .item .marker_10 {background-position: -261px 0px;}
